.declare{
  color: blue;
    font-weight: bold;
}

.reserved{
    color: crimson;
    font-weight: bold;
}

.string{
    color: green;
    font-weight: bold;
}

.lineNumbers{
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
code{
    color: black;
    background-color: lightgray;
    overflow: auto;
    width: 100%;
    display: inline-block;
}
.panel-heading{
    color: lightblue;
    background-color: #333;
}

.panel-body{
    background-color: darkgray;
}

panel-heading a, panel-heading a:visited, panel-heading a:link{
    font-size: 1.5em;
    color: #fff;
}

code div{
    padding-left: 2em;
    text-indent: -2em;
    display: inline-block;
}

.tab {
    padding-left: 15px;
}
#example1Collapse, #example1Wrap, #example2Collapse, #example2Wrap {
    width: 150px;
}