.declare{
  color: blue;
    font-weight: bold;
}

.reserved{
    color: crimson;
    font-weight: bold;
}

.string{
    color: green;
    font-weight: bold;
}

code{
    color: black;
    background-color: lightgray;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}
.panel-heading{
    color: lightblue;
    background-color: #333;
}

.panel-body{
    background-color: darkgray;
}