.declare{
  color: blue;
    font-weight: bold;
}

.reserved{
    color: crimson;
    font-weight: bold;
}

.string{
    color: green;
    font-weight: bold;
}

.lineNumbers{
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
code{
    color: black;
    background-color: lightgray;
    overflow: auto;
    width: 100%;
    display: inline-block;
}
.panel-heading{
    color: lightblue;
    background-color: #333;
}


.panel-heading a, .panel-heading a:visited, .panel-heading a:link{
    display: inline-block;
    font-size: 1.5em;
    color: #fff;
}

code div{
    padding-left: 2em;
    text-indent: -2em;
    display: inline-block;
}

.tab {
    padding-left: 15px;
}
#example1Collapse, #example1Wrap, #example2Collapse, #example2Wrap {
    width: 150px;
    white-space: normal;
    max-width: 100%;
}
.panel-heading.row{
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 767px){
    .panel-heading a, .panel-heading a:visited, .panel-heading a:link, col-xs-2.col-sm-3 {
        font-size: 2.8em;
        height: 100%;
        display: block;
    }
    .glyphicon{
        vertical-align: middle;
    }
}

